<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body class="authentication-body-letter">
<div class="authentication-wrapper">
    <main class="choose-letter">
        <h1>Surat Keterangan Berkelakuan Baik</h1>
        <td>
            <a class="blue-button update-button" th:href="@{/formulir/buatSurat(nik=${nik}, idSurat=1)}">
                Buat Surat
            </a>
        </td>
    </main>
</div>
<div class="authentication-wrapper">
    <main class="choose-letter">
        <h1>Surat Keterangan Domisili</h1>
        <td>
            <a class="blue-button update-button" th:href="@{/formulir/buatSurat(nik=${nik}, idSurat=2)}">
                Buat Surat
            </a>
        </td>
    </main>
</div>
<div class="authentication-wrapper">
    <main class="choose-letter">
        <h1>Surat Keterangan Kehilangan</h1>
        <td>
            <a class="blue-button update-button" th:href="@{/formulir/buatSurat(nik=${nik}, idSurat=3)}">
                Buat Surat
            </a>
        </td>
    </main>
</div>
<div class="authentication-wrapper">
    <main class="choose-letter">
        <h1>Surat Keterangan Tidak Mampu</h1>
        <td>
            <a class="blue-button update-button" th:href="@{/formulir/buatSurat(nik=${nik}, idSurat=4)}">
                Buat Surat
            </a>
        </td>
    </main>
</div>
<div class="authentication-wrapper">
    <main class="choose-letter">
        <h1>Surat Keterangan Kepemilikan kendaraan Bermotor</h1>
        <td>
            <a class="blue-button update-button" th:href="@{/formulir/buatSurat(nik=${nik}, idSurat=5)}">
                Buat Surat
            </a>
        </td>
    </main>
</div>
<div class="authentication-wrapper">
    <main class="choose-letter">
        <h1>Surat Keterangan Usaha</h1>
        <td>
            <a class="blue-button update-button" th:href="@{/formulir/buatSurat(nik=${nik}, idSurat=6)}">
                Buat Surat
            </a>
        </td>
    </main>
</div>
<div class="authentication-wrapper">
    <main class="choose-letter">
        <h1>Surat Keterangan Lahir</h1>
        <td>
            <a class="blue-button update-button" th:href="@{/formulir/buatSurat(nik=${nik}, idSurat=7)}">
                Buat Surat
            </a>
        </td>
    </main>
</div>
<div class="authentication-wrapper">
    <main class="choose-letter">
        <h1>Surat Rekomendasi Pernikahan</h1>
        <td>
            <a class="blue-button update-button" th:href="@{/formulir/buatSurat(nik=${nik}, idSurat=8)}">
                Buat Surat
            </a>
        </td>
    </main>
</div>
</body>
</html>