<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body class="main-body">
<th:block th:replace="~{layout :: template('Change Password')}"></th:block>
<main>
    <form class="upsert-form" method="post" th:action="@{/account/changePassword}" th:object="${dto}">
        <input type="hidden" th:field="*{username}">
        <table>
            <tbody>
            <tr>
                <td><label>Username</label></td>
                <td><span th:text="*{username}"></span></td>
            </tr>
            <tr>
                <td>
                    <label>Old Password</label>
                </td>
                <td>
                    <input type="password" th:field="*{oldPassword}">
                    <div class="field-validation-error" th:errors="*{oldPassword}"></div>
                    <div class="field-validation-error" th:errors="${dto}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>New Password</label>
                </td>
                <td>
                    <input type="password" th:field="*{password}">
                    <div class="field-validation-error" th:errors="*{password}"></div>
                    <div class="field-validation-error" th:errors="${dto}"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>New Password Confirmation</label>
                </td>
                <td>
                    <input type="password" th:field="*{passwordConfirmation}">
                    <div class="field-validation-error" th:errors="*{passwordConfirmation}"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="blue-button">Change Password</button>
    </form>
</main>
</body>
</html>