<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body class="authentication-body">
<div class="authentication-wrapper">
  <main>
    <h1>Sign In</h1>
    <form th:action="@{/authenticate}" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <div class="remember-me-container">
        <input type="checkbox" name="remember-me" id="remember-me">
        <label for="remember-me">Remember Me</label>
      </div>
      <button type="submit"> Sign In </button>
    </form>
    <div class="link-container">
      <a th:href="@{/account/registerForm}">Click to Register</a>
    </div>
    <div class="link-container">
      <a th:href="@{/}">Back to Check NIK</a>
    </div>
  </main>
</div>
</body>
</html>